<?xml version="1.0"?>
<launch>
    <arg name="img_path" default="/home/dynamicx/catkin_ws/src/mouse_callback/config/right_camera_proc_1386.jpg"/>
    <node pkg="mouse_callback" type="mouse_callback" name="mouse_callback_node" output="screen">
        <rosparam file="$(find mouse_callback)/config/mouse_callback_config.yaml" command="load" />
        <param name="img_path" value="$(arg img_path)"/>
    </node>
<!--     <group ns="mouse_callback_node"> -->
<!--           <rosparam file="$(find mouse_callback)/config/mouse_callback_config.yaml" command="load" /> -->
<!--           <param name="img_path" value="$(arg img_path)"/> -->
<!--     </group> -->
</launch>
